* {
    margin: 0 auto;
    padding: 0;
}
li { list-style: none; }
a { text-decoration: none; color: #333; box-sizing: border-box;
}
body{
/*    background: #eee;*/
/*    max-width: 1366px;*/
    background: #ecf0f1;
}
.clearfix:after, .clearfix:before {
    content: '';
    display: block;
    clear: both;
}
/*

.wrap {
    max-width: 1366px;
}
*/

.header {
    width: 100%; height: 760px;
/*    background: #ccc;*/
/*    overflow: hidden;*/
}
.nav {
    background:#fff;
    width: 100%; height: 10%; 
}
.wrapper{
    width: 90%; height: 100%;
/*    display: flex;*/
}
.header .wrapper ul {
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}
.header .wrapper ul li {
    display: block;
    height: 100%;
/*    line-height: 5.5rem;*/
/*    padding: 0 1%;*/
/*    box-sizing: border-box;*/
/*    width: 0%;*/
/*    padding: 0 1rem;*/
/*    width: 100%; height: 100%; */
/*    position: relative;*/
/*    padding-top: 2%;*/
}
.header .wrapper ul li a {
/*    position: absolute;*/
/*    top: 0; left: 0;*/
    display: block;
    line-height: 5.5rem;
/*    margin-top: 10px;*/
/*    vertical-align: middle;*/
/*    padding-top: 20%;*/
    width: 100%; height: 100%;
    padding: 0 15px;
    box-sizing: border-box;
/*    background: #ffc;*/
}

.h_slide {
    width: 100%; height: 90%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
/*    background: red;*/
}
.h_slideList li {
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
/*    display: flex;*/
/*    align-items: center;*/
/*    flex: {1 1 0};*/
}
.h_slideList li a {
    display: block;
    width: 100%; height: 100%;
    text-align: center;
}
.h_slideList li img {
    object-fit: cover;
    width: 100%; height: 100%;
}
.h_slide span {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5.8vh;
    letter-spacing: 0.6rem;
/*    font-size: 3.75rem;*/
    color: #fff;
    text-transform: uppercase;
/*    background: #ccc;*/
}

/* locations */
.ideas {
    width: 100%; height: 650px;
    background: #ecf0f1;
}
.ideas .wrapper {
    display: flex;
    align-items: center;
/*    justify-content: center;*/
    flex-wrap: wrap; 
}
.ideas h2 {
    width: 100%; height: 10%;
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
/*    padding: 2%;*/
    box-sizing: border-box;
/*    margin: 1% 0;*/
    padding-top: 5%;
}
.ideas ul {
    width: 100%; height: 80%;
    display: flex;
/*    box-sizing: border-box;*/
    align-items: center;
    justify-content: space-between;
}
.ideas ul li {
    width: 30%; height: 60%;
}
.ideas ul li a {
    display: block;
    width: 100%; height: 100%;
    position: relative;
}
.ideas ul li a img {
    width: 100%; height: 100%;
    border-radius: 10px;
}
.ideas ul li a div {
    width: 70%; height: 25%;
    position: absolute;
    bottom: 0; left: 0;
    margin: 0 10% 5% 10%;
    background: rgba(255,255,255,0.9);
    display: flex;
    align-items: center;
    padding: 5%;
/*
    vertical-align: middle;
    line-height: normal;
*/
    line-height: 3.8rem;
}
.ideas ul li a div span {
    width: 100%;  height: 100%;
    font-size: 1.5rem;
    padding-top: 5%;
    box-sizing: border-box;
    text-align: center;
    border: 1.5px solid #ccc;
    font-weight: bold;
    text-transform: capitalize;
}

/* locations */
.locations {
    width: 100%; height: 800px;
/*    padding: 5% 0 10% 0;*/
    background: #ecf0f1;
    padding-bottom: 5%;
}
.locations .wrapper {
    display: flex;
    align-items: center;
/*    justify-content: center;*/
    flex-wrap: wrap; 
}
.locations h3 {
    width: 100%; height: 10%;
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
    box-sizing: border-box;
    margin-bottom: 5%;
}
.locations_item {
    width: 100%; height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
/*    background: #eee;*/
}
.locations_item > li {
    width: 47%; height: 45%;
    display: flex;
    background: #fff;
}
.item {
    width: 50%; height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.item li {
    width: 33.33333%; height: 27%; 
}
.item li:first-child {
    width: 100%; height: 73%; 
}
.item li a {
    display: block;
    width: 100%; height: 100%;
    position: relative;
}
.item li a img {
    width: 100%; height: 100%;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.item li a img:hover {
    opacity: 0.6;
}

.item li a:before, .item li a:after{
    content:'';
    background: #fff;
    position: absolute;
    left: 50%; top: 50%;
    opacity: 0;
    z-index: 1;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease;
}
.item li a:before {
    width: 30%; height: 1px;
    left: 80%;
}
.item li a:after {
    width: 1px; height:30%;
    top: 20%;
}
.item li a:hover:before, 
.item li a:hover:after {
    opacity: 1;
    left: 50%; top: 50%;
}

.info {
    width: 50%; height: 100%;
    padding: 2%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item_title {
    font-size: 1.875rem;
    text-transform: capitalize;
}
.item_info {
    width: 100%;
    font-size: 1rem;
}
.bed img, .bath img {
    padding-right: 0.7125rem;
}
.pool img {
    padding-left: 0.7125rem;
}
.booknow {
    width: 100%; height: 10%; 
/*    margin: 10%;*/
/*    background: #f31131;*/
/*    position: relative;*/
    line-height: 2rem;
/*    border-radius: 50%;*/
}
.booknow a {
    text-transform: uppercase;
    width: 50%; border-radius: 30px;
    display: block;
    background: #f31131;
    font-size: 0.875rem;
    color: #fff;
    text-align: center;
}

/* different */
.different {
    width: 100%; height: 650px;
    background: #ecf0f1;
}
.different .wrapper{
    display: flex;
    flex-wrap: wrap;
}
.different h4 {
    width: 100%; height: 10%;
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
    box-sizing: border-box;
/*    margin-bottom: 5%;*/
}
.d_item {
    width: 33.33333%; height: 60%;
/*    background: #ecf0f1;*/
    padding: 3%;
    box-sizing: border-box;
}
.d_icon {
/*    display: block;*/
    width: 30%; height: 29%; 
    background: 1db474;
    padding: 3% 0 ;
/*    border-radius: 50%;*/
}
.d_icon img {
    width: 100%; height: 100%;
    border-radius:50%;
}
.d_item_title {
    width: 100%; height: 20%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
/*    background: green;*/
    padding: 5.5% 0;
/*    line-height: 3rem;*/
    box-sizing: border-box;
}
.d_item_title a {
    display: block;
    width: 100%; height: 100%; 
}
.d_info {
    font-size: 1rem;
    text-align: center;
    width: 100%; height: 45%;
/*    background: #fff;*/
    padding: 7% 0 3%;
    box-sizing: border-box;
}

/* connect */
.connect {
    width: 100%; height: 570px;
    background: #333;
    overflow: hidden;
}
.connect img {
    width: 100%; height: 100%;
    float: left;
/*    position: relative;*/
/*    z-index: -10*/
}
.connect .wrapper {
    position: relative;
}
.message {
/*    display: none;*/
    position: absolute;
    bottom: -100px; right: 3%;
    background: #fff;
    width: 35%; height: 60%;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    box-sizing: border-box;
    border: none;
    transition: all 0.8s ease;
/*    opacity: 0;*/
}
.message_action {
/*    display: block;*/
    bottom: 0;
    opacity: 1;
}
.message h5 {
    width: 80%; height: 10%;
    font-size: 1.875rem;
    margin-right: 20%;
    font-weight: bold;
}
.m_name, .m_email, .m_message {
    width: 100%; height: 15%;
    border: none;
/*    font-weight: bold;*/
/*    background-color: #ccc;*/
    padding: 0 2%;
    border-bottom: 1px solid #ccc;
/*    color: #ccc;*/
}
input::placeholder {
    color: #ccc;;
}
.message button {
    width: 40%;
    border: none;
    margin-right: 60%;
    background: #f31131;
    color: #fff;
    font-size: 0.875rem;
    border-radius: 20px;
}
.message button:hover {
    cursor: pointer;
}

/* footer */
.footer {
    width: 100%; height: 300px;
    background: #171d1c;
    padding: 2% 0;
    box-sizing: border-box;
}
.footer .wrapper {
    display: flex;
    flex-wrap: wrap;
/*    justify-content: space-around;*/
}
.f_list {
    width: 75%; height: 100%;
    display: flex;
/*    padding-bottom: 5%;*/
    margin-right: 5%;
}
.f_list > li {
    width: 21%; height: 100%;
}
.f_list > li:last-child {
    width: 34%;
}
.footer li a {
    color: #fff;
}
.f_list > li > a {
    font-size: 1rem;
    padding: 0.7rem 0;
    box-sizing: border-box;
/*    background: skyblue;*/
    display: block;
}
.ff_list li {
    width: 100%; height: 100%;
    padding: 0.125rem 0;
    box-sizing: border-box;
}
.f_list > li:last-child .ff_list li{
    width: 50%;
    float:left;
}
.ff_list li a {
    font-size: 0.875rem;
    display: block;
/*    background: #ccc;*/
/*    width: 100%; height: 100%; */
}
.f_info {
    color: #fff;
    width: 20%; height: 100%; 
    text-align: right;
/*    display: flex;*/
}
.f_connect {
    width: 100%; height: 30%;
}
.f_connect span {
    display: block;
/*    height: 50%;*/
    font-size: 0.875rem;
}
.address {
    width: 100%; height: 70%;
}
.address span {
    font-size: 1rem;
}
.address div {
    font-size: 0.875rem;
}
/*.f_connec*/